<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title color="light">Nossos Bolos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let bolo of produto">
    <ion-card (click)="navigate()">
      <img src={{bolo.imgUrl}} alt={{bolo.name}}>
      <ion-card-header>
        <ion-card-title>
          {{bolo.name}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{bolo.descricao}}
      </ion-card-content>

      <ion-card-content>
        Preço: R$ {{bolo.valor}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>